@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
  font-family: "Hind Madurai", sans-serif;
  background-color: #FEF4EA;
  color: #3B2E40;
  font-size: 18px;
  font-weight: 200;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  display: none; 
}

h1, h2 {
    font-family: "Crimson Text", serif;
    font-size: 24px;  
    text-align: start; 
}

.error-message {
  color: #CB2F58;
  font-weight: 600;
  margin-bottom: 1rem;
  display: none;
}

.next-btn {
    background-color: #3B2E40;
    border-radius: 30px;
    font-weight: 600;
    font-family: "Hind Madurai", sans-serif;
    color: #FFFFFF;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    padding: 0.8rem 1.5rem;
}

.next-btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #3B2E40;
    color: #3B2E40;
}

.card {
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    width: 80%;       
    margin: 0 auto;  
    padding: 30px;   
}

section {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;   
}

#home {
    display: flex;
}


/* stars question 1 */

.stars {
  display: inline-flex;
  gap: .5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.stars input {
  position: absolute;
  left: -9999px; /* hide btn radios */
}

.stars label {
  cursor: pointer;
  color: #d4c9d9;
  transition: color 0.1s ease;
}

.stars input:checked ~ label {
  color: #CB2F58; 
}

#recommendation-options label {
  display: block;        
  margin-bottom: 0.5rem; 
}

#recommendation-options input {
  margin-right: 0.5rem;
  cursor: pointer;
}

#recommendation-options, #favorite-functionalities{
  margin-bottom: 2rem;
}

#favorite-functionalities label {
  display: flex;          
  align-items: center;    
  gap: 0.5rem;            
  margin-bottom: 5px;    
}

#favorite-functionalities input {  
  cursor: pointer;
}


@media (min-width: 600px) {
  .card {
    width: 100%;    
    margin: 0 auto;  
    padding: 40px;   
    max-width: 600px;  
  }

  h1, h2 {
    font-size: 32px; 
  }

  .next-btn {
    font-size: 18px;
    padding: 1rem 2rem;
  }
}